{% extends "doctors/base.html" %}
{% block title %}Historial de Consultas{% endblock %}
{% block page_title %}Historial de Consultas Atendidas{% endblock %}

{% block content %}

<main>
    <div class="container mt-4">
    <form method="get" class="row mb-3">
        <div class="col-md-8">
            <input type="text" name="ci" class="form-control" placeholder="Buscar por CI..." value="{{ ci_query }}">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary w-100">Buscar</button>
        </div>
        <div class="col-md-2">
            {% if ci_query %}
                <a href="{% url 'doctor_consultation_history' %}" class="btn btn-secondary w-100">Limpiar</a>
            {% endif %}
        </div>
    </form>
    <div class="card shadow">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>CI</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consulta in consultations %}
                    <tr>
                        <td>{{ consulta.patient.identification_number }}</td>
                        <td>{{ consulta.patient.first_name }}</td>
                        <td>{{ consulta.patient.last_name }}</td>
                        <td>{{ consulta.date }}</td>
                        <td>{{ consulta.time }}</td>
                        <td>{{ consulta.description }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">No hay consultas atendidas.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</main>

{% endblock %}