{% extends "doctors/base.html" %}
{% block title %}Lista de Pacientes{% endblock %}
{% block page_title %}Pacientes Asignados{% endblock %}

{% block content %}

<main>

    <div class="container mt-4">
        <form method="get" class="row mb-3">
            <div class="col-md-8">
                <input type="text" name="ci" class="form-control" placeholder="Buscar por CI" value="{{ ci_query }}">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100">Buscar</button>
            </div>
            <div class="col-md-2">
            {% if ci_query %}
                <a href="{% url 'doctor_patient_list' %}" class="btn btn-secondary w-100">Limpiar</a>
            {% endif %}
        </div>
        </form>

        <div class="card shadow">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Estado</th>
                            <th>CI</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Edad</th>
                            <th>Teléfono</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for consulta in consultations %}
                        <tr>
                            <td>{{ consulta.get_status_display }}</td>
                            <td>{{ consulta.patient.identification_number }}</td>
                            <td>{{ consulta.patient.first_name }}</td>
                            <td>{{ consulta.patient.last_name }}</td>
                            <td>{{ consulta.patient.age }}</td>
                            <td>{{ consulta.patient.phone }}</td>
                            <td>{{ consulta.date }}</td>
                            <td>{{ consulta.time }}</td>
                            <td>
                                <a href="{% url 'attend_consultation' consulta.id %}" class="btn btn-success btn-sm">Atender</a>
                                <!-- Botón para abrir el modal -->
                                <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#attendModal{{ consulta.id }}">
                                    Atender
                                </button>

                                <div class="modal fade" id="attendModal{{ consulta.id }}" tabindex="-1" aria-labelledby="attendModalLabel{{ consulta.id }}" aria-hidden="true" data-bs-backdrop="static">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                        <form method="post" action="{% url 'attend_consultation' consulta.id %}">
                                            {% csrf_token %}
                                            <div class="modal-header py-3">
                                            <h5 class="modal-title" id="attendModalLabel{{ consulta.id }}">Atender paciente</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                            </div>
                                            <div class="modal-body container-fluid">
                                            <!-- Datos principales -->
                                            <div class="row mb-4">
                                                <div class="col-md-6 mb-2">
                                                <label class="form-label fw-bold">Nombre del paciente</label>
                                                <input type="text" class="form-control" value="{{ consulta.patient.full_name }}" readonly>
                                                </div>
                                                <div class="col-md-3 mb-2">
                                                <label class="form-label fw-bold">N° de consulta</label>
                                                <input type="text" class="form-control" value="{{ consulta.order }}" readonly>
                                                </div>
                                                <div class="col-md-3 mb-2">
                                                <label class="form-label fw-bold">Consultorio</label>
                                                <input type="text" class="form-control" name="consultorio" placeholder="Ej: 20" required>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-md-3 mb-2">
                                                <label class="form-label fw-bold">Edad</label>
                                                <input type="text" class="form-control" value="{{ consulta.patient.age }}" readonly>
                                                </div>
                                                <div class="col-md-5 mb-2">
                                                <label class="form-label fw-bold">Servicio</label>
                                                <select class="form-select" name="servicio" required>
                                                    {% for especialidad in especialidades %}
                                                    <option value="{{ especialidad.name }}">{{ especialidad.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <label class="form-label fw-bold">Motivo de la consulta</label>
                                                <textarea class="form-control" readonly>{{ consulta.description }}</textarea>
                                            </div>
                                            <!-- Signos vitales (desplegado) -->
                                            <div class="accordion mb-4" id="preconsultaAccordion{{ consulta.id }}">
                                                <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingPreconsulta{{ consulta.id }}">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePreconsulta{{ consulta.id }}" aria-expanded="true" aria-controls="collapsePreconsulta{{ consulta.id }}">
                                                    Signos vitales
                                                    </button>
                                                </h2>
                                                <div id="collapsePreconsulta{{ consulta.id }}" class="accordion-collapse collapse show" aria-labelledby="headingPreconsulta{{ consulta.id }}" data-bs-parent="#preconsultaAccordion{{ consulta.id }}">
                                                    <div class="accordion-body">
                                                    <div class="row mb-4">
                                                        <div class="col-md-3 mb-2">
                                                        <label class="form-label">Temperatura Corporal [°C]</label>
                                                        <input type="number" step="0.1" class="form-control" name="temperatura" required>
                                                        </div>
                                                        <div class="col-md-3 mb-2">
                                                        <label class="form-label">Presión Arterial (PA) [mmHg]</label>
                                                        <div class="input-group">
                                                            <input type="number" class="form-control" name="presion1" placeholder="Sistólica" required>
                                                            <input type="number" class="form-control" name="presion2" placeholder="Diastólica" required>
                                                        </div>
                                                        </div>
                                                        <div class="col-md-3 mb-2">
                                                        <label class="form-label">Frecuencia Respiratoria (FR) [lat/min]</label>
                                                        <input type="number" class="form-control" name="frecuencia_respiratoria" required>
                                                        </div>
                                                        <div class="col-md-3 mb-2">
                                                        <label class="form-label">Pulso [bpm]</label>
                                                        <input type="number" class="form-control" name="pulso" required>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-4">
                                                        <div class="col-md-3 mb-2">
                                                        <label class="form-label">Saturación de Oxígeno (%)</label>
                                                        <div class="input-group">
                                                            <button type="button" class="btn btn-outline-secondary" onclick="this.nextElementSibling.stepDown()">-</button>
                                                            <input type="number" class="form-control text-center" name="saturacion" min="0" max="100" value="97" required>
                                                            <button type="button" class="btn btn-outline-secondary" onclick="this.previousElementSibling.stepUp()">+</button>
                                                        </div>
                                                        </div>
                                                        <div class="col-md-3 mb-2">
                                                        <label class="form-label">Peso [Kg]</label>
                                                        <input type="number" step="0.1" class="form-control" name="peso" required>
                                                        </div>
                                                        <div class="col-md-3 mb-2">
                                                        <label class="form-label">Talla [cm]</label>
                                                        <input type="number" step="0.1" class="form-control" name="talla" required>
                                                        </div>
                                                        <div class="col-md-3 mb-2">
                                                        <label class="form-label">Circunferencia Abdominal [cm]</label>
                                                        <input type="number" step="0.1" class="form-control" name="circunferencia_abdominal">
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <!-- Campos adicionales -->
                                            <div class="mb-4">
                                                <label class="form-label">Historia actual</label>
                                                <textarea class="form-control" name="historia_actual" rows="2"></textarea>
                                            </div>
                                            <div class="mb-4">
                                                <label class="form-label">Evolución / Otros datos (Examen físico)</label>
                                                <textarea class="form-control" name="evolucion" rows="2"></textarea>
                                            </div>
                                            <div class="mb-4">
                                                <label class="form-label">Impresión diagnóstica</label>
                                                <textarea class="form-control" name="impresion_diagnostica" rows="2"></textarea>
                                            </div>
                                            <div class="mb-4">
                                                <label class="form-label">HbA1c [%]</label>
                                                <input type="number" step="0.1" class="form-control" name="hba1c">
                                            </div>
                                            <div class="mb-4">
                                                <label class="form-label">Indicaciones</label>
                                                <textarea class="form-control" name="indicaciones" rows="2"></textarea>
                                            </div>
                                            </div>
                                            <div class="modal-footer py-3">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-success">Guardar y marcar como atendido</button>
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                    </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="9" class="text-center">No hay pacientes asignados.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}