{% extends "reception/base.html" %}
{% block title %}Inicio{% endblock title %}
{% block page_title %} {{ request.user.first_name | safe | truncatechars:"20" }} {{ request.user.last_name | safe | truncatechars:"20" }} {% endblock page_title %}

{% block content %}
<main>
  <div class="container mt-4">
      <div class="dash-cards">
        <div class="card-single">
            <div class="card-body">
                <span class="text-primary"><i class="bi bi-people" aria-hidden="true"></i>   {{ pacientes_count }}</span>
                <!-- <h4>{{ pacientes_count }}</h4> -->
                <h5 class="mt-2">Pacientes Registrados</h5>
                <a href="{% url 'reception:patient_list' %}" class="btn btn-outline-primary btn-sm">Ver pacientes</a>
            </div>
        </div>
        <div class="card-single">
            <div class="card-body">
                <span class="text-success"><i class="bi bi-heart-pulse" aria-hidden="true"></i>   {{ doctores_count }}</span>
                <!-- <h4>{{ doctores_count }}</h4> -->
                <h5 class="mt-2">Médicos Registrados</h5>
            </div>
        </div>
        <div class="card-single">
            <div class="card-body">
                <span class="text-info"><i class="bi bi-clipboard-heart" aria-hidden="true"></i>   {{ consultas_count }}</span>
                <!-- <h4>{{ consultas_count }}</h4> -->
                <h5 class="mt-2">Consultas Totales</h5>
                <a href="{% url 'reception:consultation_list' %}" class="btn btn-outline-success btn-sm">Ver consultas</a>
            </div>
        </div>
        <div class="card-single">
            <div class="card-body">
                <span class="text-warning"><i class="bi bi-calendar-day" aria-hidden="true"></i>   {{ consultas_hoy }}</span>
                <!-- <h4>{{ consultas_hoy }}</h4> -->
                <h5 class="mt-2">Consultas Hoy</h5>
            </div>
        </div>
    </div>


      <div class="row mt-4">
          <div class="col-md-6">
              <a href="{% url 'reception:patient_create' %}" class="btn btn-primary w-100 mb-2">
                  <i class="bi bi-person-plus"></i> Registrar paciente
              </a>
          </div>
          <div class="col-md-6">
              <a href="{% url 'reception:consultation_create' %}" class="btn btn-success w-100 mb-2">
                  <i class="bi bi-calendar-plus"></i> Agendar consulta
              </a>
          </div>
      </div>
  </div>
</main>
{% endblock %}